<div>
    <p>Current balance: $<%=current_user.current_balance%></p>
    <h1>Withdraw</h1>
    <form action="/withdraw" method="POST">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
        <input type="text" name="user[amount]" value="<%=@Withdraw.amount%>">
        <input type="submit" name="Withdraw">
        <%= link_to "Back", "/deposit" %>
        <p></p>
        <%= link_to "Withdraw historic", "/withdraw_historic"%>  
    </form>
</div>