<body>
  <div class=>
    <table>
      <thead>
        <th>Account</th>
        <th>Balance</th>
        <th>Date and time</th>
      </thead>
      <tbody>
        <%=@deposits.find_each do |deposit|%>
          <tr>
            <td><%=deposit.bank_account%></td>
            <td>$<%=deposit.amount%></td>
            <td><%=deposit.created_at%></td>                             
          </tr>
        <%end%>
      </tbody>
    </table>
    <%= link_to "Back", '/deposit' %>
  </div>


</body>