<div>
    <h1>Your transactions</h1>
    <div>
        <table>
            <thead>
                <th>Amount</th>
                <th>To</th>
                <th>Date and time</th>      
            </thead>
            <tbody>
                <%=@overview.find_each do |transaction|%>
                    <tr>
                        <td><%=transaction.amount%></td>
                        <td><%=transaction.to_user%></td>
                        <td><%=transaction.created_at%></td>                           
                    </tr>
                <%end%>
            </tbody>       
        </table>
        <%= link_to "Back", '/transactions' %>
   </div>
</div>